RewriteEngine On

#MVC
RewriteRule ^$ ./controller.php [L]
RewriteRule ^([a-zA-Z_0-9-]+)/$ /$1? [R=301,L]
RewriteRule ^([a-zA-Z_0-9-]+)$ /controller.php?modulo=$1&%{QUERY_STRING} [L]
RewriteRule ^([a-zA-Z_0-9-]+)/([a-zA-Z_0-9-]+)/$ /$1/$2? [R=301,L]
RewriteRule ^([a-zA-Z_0-9-]+)/([a-zA-Z_0-9-]+)$ ./controller.php?modulo=$1&action=$2&%{QUERY_STRING} [L]

#Redirecciones
#Redirect /acerca.html 	http://firmaporpulmon.com/
#Redirect /peticion.html http://firmaporpulmon.com/user/peticion
#Redirect /contacto.html http://firmaporpulmon.com/user/contacto

#Hotlinking
#Options +FollowSymlinks
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www.)?firmaporpulmon.com/ [nc]
#RewriteRule .*.(gif|jpg|png)$ /static/img/badLuck.jpg [nc]

#Error Pages
ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

#Navigate Deny
#Options All -Indexes

#Remove www
#RewriteCond %{HTTP_HOST} ^www\.firmaporpulmon\.com$ [NC]
#RewriteRule ^(.*)$ http://firmaporpulmon.com/$1 [L,R=301]

#ServerMail
ServerSignature EMail
SetEnv SERVER_ADMIN support@firmaporpulmon.com